<div id="navigation">
    ;     /        ,--.     
   ["]   ["]  ,<  |__**|    
  /[_]\  [~]\/    |//  |    
  ] [   OOO      /o|__|   
<a href="/posts/projects/index.html"><strong>projects</strong></a> / <a href="/posts/favorites/index.html"><strong>stuff i like</strong></a> / <a href="https://github.com/gokulp01"><strong>github</strong></a> / <a href="mailto:gokulp2@illinois.edu"><strong>email</strong></a>

</div>
